name: SSH Access

on:
  workflow_dispatch:

jobs:
  ssh:
    runs-on: ubuntu-latest
    steps:
      - name: Start tmate session
        uses: mxschmitt/action-tmate@v3
        with:
          sudo: false         # optional
          limit-access-to-actor: false   # optional
