name: SSH Access

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  ssh:
    runs-on: ubuntu-latest
    steps:
      - name: Start tmate session (SSH key secured)
        uses: mxschmitt/action-tmate@v3
        with:
          ssh-keys: ${{ secrets.TMATE_KEY }}
          sudo: false
